<!DOCTYPE html>
<html>
<head>
    <title>Add Site Page</title>
    <link href="../libs/bootstrap-3/bootstrap.no-icons.min.css" rel="stylesheet" />
    <link href="../styles/SignUp.css" rel="stylesheet" />
</head>
<body> 

    <br />
    <br />
    <div class="text-center col-lg-12">
    <h1>Add Site Page </h1>
    <form method="post" action="/addSite" enctype="multipart/form-data">
        <label>Site Name</label>
        <input type="text" name="sitename" />
        
        <label>Site URL</label>
        <input type="text" name="siteurl" />
        
        <label>Site description</label>
        <textarea name="Description"></textarea>
        
        <div>
		<label>Picture</label>
		<input  type="file" name="image" />
		</div>


        <label>Tags - comma seperated</label>
        <input type="text" name="tags" />
        <br />
        <br />
        <input  class="btn-primary"  type="submit" value="Add site" />
    </form>
    </div>
 <script src="../libs/jquery-2.0.3/jquery-2.0.3.min.js"></script>
<script src="../libs/bootstrap-3/bootstrap.min.js"></script>

</body>
</html>
