<html>
<head>
    <title></title>
    <!-- Lib Styles -->
    <link href="libs/bootstrap-3/bootstrap.no-icons.min.css" rel="stylesheet" />
    <link href="libs/bootstrap-3/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Styles -->
    <link href="libs/bootstrap-3/app.min.css" rel="stylesheet" />

</head>
<body>

    <h1>{{username}} </h1>

    <div class="container">
        {{#each sites2}} 
          <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                  <ul class="container list-unstyled" id="odata-links-list">
                      <li class="row odata-link">
                          <div class="col-md-2">
                              <img class="img-responsive img-thumbnail" src="{{this.Picture}}" />
                              <span class="odata-version label label-success"><small>OData server.</small><strong>3.0</strong></span>

                              <ul class="features list-unstyled list-inline">
                                  <li class="feature active"><i class="icon-user"></i></li>
                                  <li class="feature active"><i class="icon-lock"></i></li>
                                  <li class="feature active"><i class="icon-star"></i></li>
                              </ul>

                          </div>
                          <div class="col-md-10">
                              <label class="title">{{this.SiteName}}</label>
                              <a class="link" href="{{this.SiteUrl}}" target="blank">Open !</a>

                              <p class="description">{{this.Description}}  </p>

                              <ul class="tags list-unstyled list-inline"> 
                                  <form name="delete" action="/delete" method="post" onsubmit="deleteSite('{{this.SiteID}}','{{this.SiteName}}')" enctype="multipart/form-data">
                                      
                                      <!--<input type="text" name="userx" value="{{this.User}}">-->
                                      <input name="SiteID" type="hidden" value="{{this.SiteID}}">
                                      <input type="submit" class="btn-info pull-right" value="Delete" />
                                  </form>

                                  <a data-toggle="modal"  href="#{{this.SiteID}}"  class="btn-info pull-right"  style="margin-right: 7px;margin-top:-12.9px">Update</a>
                                   
                                  <!--Update Model-->  
                                <form role="form" name="update" action="/update" method="post" onsubmit="true" enctype="multipart/form-data" >
                                      <div class="modal fade" id="{{this.SiteID}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
                                       <div class="modal-dialog">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                              <h4 class="modal-title">Update</h4>
                                            </div>
                                            <div class="modal-body">
                                                       <form role="form">
                                                       
                                                           <div class="form-group">
                                                          
                                                             <input name="SiteID" type="text" class="form-control hidden"  value="{{this.SiteID}}">

                                                             <label>URL</label>
                                                                <input name="siteurl" type="text" class="form-control"  value="{{this.SiteUrl}}">
                                                            </div>
                                                               <div class="form-group">
                                                                <label>Site Name</label>
                                                                <input name="sitename" type="text" class="form-control"  value="{{this.SiteName}}">
                                                            </div>
                                                             <div class="form-group">
                                                                <label>Description</label>
                                                                <input name="Description" type="text" class="form-control"  value="{{this.Description}}">
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Tags</label>
                                                                <input name="tags" type="text" class="form-control"  value="{{this.sites.tags}}">
                                                            </div> 

                                                            <div class="form-group">
                                                                <label>Icon</label>
                                                                <input type="file" name="image" class="form-control" value="{{this.Picture}}">
                                                            </div>

                                                            <hr />
                                                        </form>
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
                                              <button type="submit" class="btn btn-primary" value="Save Changes"> Save changes</button>
                                            </div>
                                          </div><!-- /.modal-content -->
                                        </div><!-- /.modal-dialog -->
                                      </div><!-- /.modal -->
                                    </form>
                                  
                            {{ sites.Tags}}
                                <li><a href="{{this.site.Tags}}">{{this.site.Tags}} </a></li>
                              </ul>

                              <div class="user">
                                  <img class="img-responsive img-circle" src="{{this.Picture}}" />
                                  <label class="name">{{this.User}}</label>
                              </div>

                          </div>
                      </li>
                  </ul>
              </div>
              <div class="col-md-2"></div>

          </div>
        {{/each}}  
    </div>

 
    <!-- Lib Scripts -->


    <script>
        var deleteSite = function (SiteID, siteName) {

            console.log("deleteSite function\n");
            //alert("Delete odata of this site:" + siteName + "?");
            var ans = confirm("Delete this site:" + siteName + "?");
            if (ans == true)
                return true;
            else
                return false;

        };

        var update = function (s1, s2, s3, s4) {
            console.log("\n" +  s1 + " " + s2 + " " + s3 + " " + s4);
        }

    </script>

    <script src="./../libs/jquery-2.0.3/jquery-2.0.3.min.js"></script>
    <script src="./../libs/bootstrap-3/bootstrap.min.js"></script>
</body>
</html>
