<!DOCTYPE html>
<html>
<head>
    <title>Sign Up Page</title>
    <link href="../public/libs/bootstrap-3/bootstrap.no-icons.min.css" rel="stylesheet" />
    <link href="../public/styles/SignUp.css" rel="stylesheet" />
</head>
<body> 
    <br />
    <br />
    <h1 class="text-center"> Sign Up Page </h1>
    <form  class="text-center" method="post" action="/signUp">
      
        <label>User Name</label>
        <input type="text" name="username" />
        
        <label>Password</label>
        <input type="password" name="password" />

         <label>E-Mail</label>
        <input type="text" name="email" />
        <br />
        <br />
        <input class="btn" type ="submit" value="Sign Up" />
    </form>


<script src="../public/libs/jquery-2.0.3/jquery-2.0.3.min.js"></script>
<script src="../public/libs/bootstrap-3/bootstrap.min.js"></script>

</body>
</html>
